{% load static %}
{% load tag %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if latest_cv_list  %}
    <ul>
    {% for contact in latest_cv_list %}
        <li>
            <a href="{% url 'polls:cv' contact.id %}">{{ contact.first_name }} {{ contact.last_name }}</a>
            <span>Skills: {{ contact.message }}</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No CV are available.</p>
{% endif %}
<a href="{% url 'polls:contact' %}">Ajouter son CV</a>
<br><br><br>
<span>Pour filter par skill : </span>
<form action="{%url 'polls:index' %}"  method="get">
    <input type="text" name="contains" placeholder="Search...">
    <button  type="submit">Filtrer</button>
 </form>